<div class="colors">
  <div class="row">
    <div class="group">
      <strong>{{ allColors }}</strong>
    </div>
  </div>
  <div class="row">
    <div class="mb-1">
      <input
        type="text"
        [(ngModel)]="filterColorText"
        class="form-control"
        id="filterColorText"
        placeholder="Enter your brand name"
      />
    </div>
  </div>
  <ul>
    <div class="row">
      <li
        *ngIf="!filterColorText"
        [class]="getAllColorClass()"
        (click)="setCurrentColor()"
        routerLink="/cars"
      >
        <p>
          {{ allColors }}
        </p>
      </li>
      <li
        *ngFor="let color of colors | filterBrand: filterColorText"
        [class]="getCurrentColorClass(color)"
        (click)="setCurrentColor(color)"
        routerLink="/cars/color/{{ color.id }}"
      >
        <p>
          {{ color.name }}
        </p>
      </li>
    </div>
  </ul>
</div>
