* {
  overflow-x: hidden;
  word-wrap: break-word;

  .carousel-inner {
    display: block;
    max-width: 640px;
    max-height: 360px;
    
    .carousel-item.active img {
      margin: auto;
      display: block;
      width: auto;
      height: 400px;
    }
  }
}
