<section *ngIf="carInfo && currentImage" class="car-details" id="carDetails">
  <div class="row">
    <div class="col-md-6">
      <div
        class="row mt-5"
        [ngsRevealSet]="{ reset: true, delay: 200, origin: 'top' }"
        [ngsSelector]="'#detailImage'"
      >
        <div [class]="setDetailImageClass()" id="detailImage" #detailImage>
          <img
            [src]="getCurrentCarImageURL()"
            alt="current-image"
            class="current-image"
          />
        </div>
      </div>
      <div
        class="row"
        [ngsRevealSet]="{ reset: true, delay: 200, origin: 'left' }"
        [ngsSelector]="'.carousel-slider'"
      >
        <div class="carousel-slider">
          <app-image-carousel
            [imageURL]="safeURLs"
            (currentSelection)="getSelectedImage($event)"
          ></app-image-carousel>
        </div>
      </div>
    </div>
    <div
      class="col-md-6"
      [ngsRevealSet]="{ reset: true, delay: 200, origin: 'left' }"
      [ngsSelector]="'.car-info'"
    >
      <div class="row car-info pb-5 mx-5 mt-5">
        <div class="row mt-5">
          <div class="box">
            <div class="row">
              <fa-icon [icon]=""></fa-icon>
              <h3>
                {{ carInfo.brandName }}
                <span>{{ carInfo.carName }}</span>
              </h3>
              <div class="price">
                <span>Price: </span>
                {{ carInfo.dailyPrice | currency: "TRY":"₺":"1.2" }}
              </div>
              <p>
                <fa-icon [icon]="faCircle"></fa-icon> {{ carInfo.colorName }}
                <fa-icon [icon]="faCircle"></fa-icon> {{ carInfo.modelYear }}
              </p>
            </div>
          </div>
        </div>
        <div
          class="
            flex-row
            mt-5
            ps-5
            align-items-center
            justify-content-center
            d-flex
          "
        >
          <div class="col-md-6">
            <div class="row">
              <a class="btn rent-button">Rent</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row"></div>
</section>
