// Root em:
$huge-size: 4rem;
$big-size: 2rem;
$full-size: 1rem;
$half-size: 0.5rem;
$big-font: 3.5rem;

// Pixels:
$full-px: 100px;
$half-px: 50px;

// Percents:
$full-percent: 100%;
$half-percent: 50%;
