<div class="content">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header"><h5 class="title">Add Product</h5></div>
      <div class="card-body">
        <form [formGroup]="carAddForm">
          <div class="form-group mb-3">
            <label for="brandId">Select a brand:</label>
            <select
              type="number"
              class="form-select"
              aria-label="Default select example"
              formControlName="brandId"
              id="brandId"
              [(ngModel)]="selectedBrandId"
            >
              <option selected value="-1" disabled hidden>Brands</option>
              <option *ngFor="let brand of brands" [value]="brand.id">
                {{ brand.name }}
              </option>
            </select>
          </div>
          <div class="form-group mb-3">
            <label for="description">Description:</label>
            <input
              type="text"
              class="form-control"
              id="description"
              formControlName="description"
              placeholder="Description"
            />
          </div>
          <div class="form-group mb-3">
            <label for="modelYear">Model Year:</label>
            <input
              type="number"
              class="form-control"
              id="modelYear"
              formControlName="modelYear"
              placeholder="Model Year"
              min="1960"
              [max]="getYear()"
            />
          </div>
          <div class="form-group mb-3">
            <label for="colorId">Select a color:</label>
            <select
              type="number"
              class="form-select"
              aria-label="Default select example"
              formControlName="colorId"
              id="colorId"
              [(ngModel)]="selectedColorId"
            >
              <option selected value="-1" disabled hidden>Colors</option>
              <option *ngFor="let color of colors" [value]="color.id">
                {{ color.name }}
              </option>
            </select>
          </div>
          <div class="form-group mb-3">
            <label for="dailyPrice">Price:</label>
            <input
              type="number"
              class="form-control"
              id="dailyPrice"
              formControlName="dailyPrice"
              placeholder="50.00₺ (e.g.)"
              min="0"
            />
          </div>
        </form>
      </div>
      <div class="card-footer">
        <button class="btn btn-fill btn-dark" (click)="backToList()">
          Back To List
        </button>
        <button
          class="btn btn-fill btn-success"
          (click)="add()"
          style="float: right"
        >
          Add
        </button>
      </div>
    </div>
  </div>
</div>
